RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://www.zefir.co.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.zefir.co.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^http://zefir.co.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://zefir.co.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.zefir.co.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.zefir.co.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^https://zefir.co.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://zefir.co.uk$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]
