#MiddleGround {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 30%;
  left: 50%;
  margin: -100px 0 0 -150px;
}
#GenNum {
text-align: center;
font-family: 'Julius Sans One', sans-serif;
font-size: 75px;
color: #2196f3;
}
#gerry {
font-family: 'Julius Sans One', sans-serif;
color: white;
}
#Slider{
color: #2196f3;
font-family: 'Julius Sans One', sans-serif;
font-size: 20px;
}
#ContainerDice{

}
